Repository nasa/prog_models, pull requests merged in 2022-08, with the labels that each got.

#340 LSTMStateTransitionModel (Closes #330)
  .gitignore
  examples/__init__.py
  examples/lstm_model.py
  requirements.txt
  setup.py
  sphinx_config/data_models.rst
  sphinx_config/dev_guide.rst
  sphinx_config/getting_started.rst
  sphinx_config/index.rst
  src/prog_models/lstm_model.py
  src/prog_models/prognostics_model.py
  tests/__main__.py
  tests/test_lstm.py
Labels: enhancement, component: models: data-driven

#364 Paris Law (Growth Crack Model)
  examples/growth.csv
  examples/growth.py
  src/prog_models/models/paris_law.py
Labels: component: models

#368 SimResult to numpy array
  src/prog_models/sim_result.py
  tests/test_sim_result.py
Labels: enhancement

#373 Make DMD a DataModel
  examples/generate_surrogate.py
  sphinx_config/data_models.rst
  src/prog_models/data_models/__init__.py
  src/prog_models/data_models/data_model.py
  src/prog_models/data_models/dmd.py
  src/prog_models/prognostics_model.py
  src/prog_models/sim_result.py
  src/prog_models/surrogates/__init__.py
  src/prog_models/surrogates/dmd.py
  tests/__main__.py
  tests/test_data_model.py
  tests/test_sim_result.py
  tests/test_surrogates.py
Labels: component: models: data-driven

#374 Rework LSTM to use normalization layer
  src/prog_models/data_models/lstm_model.py
Labels: component: models: data-driven

#376 Make DataModels Pickle-able
  src/prog_models/data_models/data_model.py
  src/prog_models/data_models/dmd.py
  src/prog_models/data_models/lstm_model.py
  src/prog_models/prognostics_model.py
  tests/test_data_model.py
Labels: bug

#383 Fix dmd without dt
  src/prog_models/data_models/dmd.py
  tests/test_data_model.py
Labels: bug

#386 LSTM Pickle FileNotFound Error
  tests/test_data_model.py
Labels: bug

#384 Added method to plot history in LSTMStateTransitionModel
  examples/custom_model.py
  examples/full_lstm_model.py
  examples/lstm_model.py
  src/prog_models/data_models/lstm_model.py
Labels: enhancement, component: visualization, component: models: data-driven

#391 Fix test copyright
  scripts/test_copyright.py
Labels: bug, CI/CD

#389 Make initialize optional
  examples/new_model.py
  prog_model_template.py
  src/prog_models/data_models/dmd.py
  src/prog_models/models/battery_circuit.py
  src/prog_models/models/battery_electrochem.py
  src/prog_models/models/dcmotor.py
  src/prog_models/models/esc.py
  src/prog_models/models/paris_law.py
  src/prog_models/prognostics_model.py
  tests/test_base_models.py
  tutorial.ipynb
Labels: enhancement, component: models, component: models: data-driven
